/* CSS Document */
@charset "utf-8";
/* CSS Document */
/*Default*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,div,dl,dd,form,fieldset,legend,input,button,textarea,select{margin:0;padding:0}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
body,button,input,select,textarea{ font:12px "å¾®è½¯é›…é»‘";}
body{ color:#666;}	
a{ color:#666; text-decoration:none; outline:none;}
a:hover{ color:#333;}
img{ border:0;}
ul,ol{ list-style:none;}
.clear{ clear:both}

#header{ height:85px;}

.header{ width:1000px; margin:0 auto; position:relative; line-height:24px;}

.header .logo{ position:absolute;left:0px;top:0px}

.header_language{ position:absolute; right:0;top:47px;}
a.link_red{ color:#ff0000}

.dialog_info{ float:right; margin-left:20px;}
.dialog_info h3{ display:block; width:124px; height:22px; line-height:22px; border:1px solid #e2e2e2; background:url(../images/arrow_d.gif) no-repeat 114px 50%; cursor:pointer; padding-left:15px;}
.dialog_info ul{ border:1px solid #e2e2e2; border-top:0; background-color:#ededed; padding:10px 0; display:none; position:relative; z-index:100}
.dialog_info ul li{ line-height:28px;}
.dialog_info ul li a{ text-align:center; display:block; background-color:#ededed;}
.dialog_info ul li a:hover{color:#fff; background-color:#4066b3;}

#nav{ width:100%; height:41px; background-color:#204a9e; height:41px; line-height:43px;}
#nav ul{ width:1000px; margin:0 auto}
#nav li{ float:left; position:relative; width:100px; text-align:center; height:41px; line-height:41px; color:#85959c; font-size:15px;}
#nav li a{ color:#fff; font-weight:bold;}
/*#nav li a{ float:left; width:100px; text-align:center; height:41px; line-height:41px; color:#fff; font-size:15px;}
#nav li a:hover{ color:#fff; background-color:#4066b3}
#nav li a.active{ color:#fff; background-color:#4066b3}
#nav li a.cur,#menu li a.cur:hover{ background:url(../images/ico/menu_cur.jpg) no-repeat center top; color:#fff;}
#nav li a#mu1.cur,#menu li a#mu1.cur:hover{ background:url(../images/ico/menu_cur1.png) no-repeat left top;}*/
#nav .home_li{ margin-left:300px;}
#nav li div{ position:absolute;left:0; background-color:#fff;top:40px; display:none; border-top:1px solid #4066b3}
#nav li div a{ color:#666; border-bottom:1px dotted #ccc; font-size:13px; margin:0px 10px; width:80px;}
#nav li div a:hover{ background:none!important; color:#4066b3; border-bottom:1px dotted #ccc; }

.banner{ height:408px;background:url(../images/banner.png) no-repeat center center; background-size: cover}

.content1{ background-color:#fff;border-bottom:1px solid #eeeeee;}
.content2{ background:#ebebeb url(../images/line.jpg) repeat-x;border-bottom:1px solid #eeeeee;}

.box_c{ width:1000px; margin:0 auto; padding:40px 0; position:relative; min-height:330px;}
.box_c h2{ display:block; background-color:#b0b0b0; height:53px; overflow:hidden; line-height:53px; font-size:18px;color:#fff;font-weight:bold; padding-left:18px; border-radius:5px;}
.h2_right{ float:right}

.c01_left{
	position: absolute;
	left: 17px;
	width: 681px;
	height: 217px;
	top: 128px;
	line-height: 25px;
}

.c01_left h1{ font-size:24px; font-weight:bold; color:#000}
.c01_left .line{ border-bottom:1px dotted #ccc; padding:15px 0; margin-bottom:15px; font-size:14px; color:#000}
.c01_left p{ font-size:14px;}
.video{position: absolute;right: 26px;width: 226px;top: 174px;}




#footer{ height:89px; text-align:center; line-height:89px; background-color:#000; color:#fff; display:block}


.picScroll-left{ width:950px;position:relative; margin:60px auto 0 auto}

.picScroll-left .prev,.picScroll-left .next{ display:block;  width:39px; height:58px; position:absolute;top:100px;  overflow:hidden;
 cursor:pointer; z-index:100;}
 
.picScroll-left  .prev{ background:url(../images/ico_29.jpg) no-repeat; left:-50px}
.picScroll-left  .next{ background:url(../images/ico_32.jpg) no-repeat; right:-50px}

.picScroll-left .bd{ padding:10px; overflow:hidden}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }

.picScroll-left .bd ul li img{ width:280px; height:201px; display:block;border:8px solid #fff; }
.picScroll-left .bd ul li  a:hover img{ border-color:#ccc;  }

.pageState{ display:block; text-align:center; font-size:14px;}

#ltyt{background:url(../images/mapbg.jpg) no-repeat center center; height:750px;}
#ltyt h3{display:block;padding:15px 0; font-size:24px; margin:15px 0;}
.news li{background:url(../images/diso.png) no-repeat left center;}
.news li a{ line-height:25px; padding-left:15px; color:#545454; font-size:14px;}
.news li a:hover{ color:#000}

.c03_left{ float:left; width:40%; margin-left:30px}
.c03_left h3{  border-bottom:1px solid #ab0504; color:#ab0504; }
.c03_right{ float:right; width:40%; margin-right:30px}
.c03_right h3{  border-bottom:1px solid #204a9e; color:#204a9e; }


/*tab*/
.tab { margin-left:15px}
.tab a{ width:116px; height:42px; display:block; float:left; background:url(../images/tabout.png); color:#666; line-height:35px; text-align:center; margin-right:7px; font-size:16px;}
.tab a.active{background:url(../images/tabover.png); color:#fff;}
.title{ line-height:25px; padding:25px 15px; font-size:14px;}

.news li{background:url(../images/diso.png) no-repeat left center;}
.news li a{ line-height:25px; padding-left:15px; color:#545454; font-size:14px;}
.news li a:hover{ color:#000}

.m_b40{ margin-bottom:40px;}

/*people*/
.people{ width:1000px;position:relative; margin:60px auto 0 auto}

.people .prev,.people .next{ display:block;  width:53px; height:102px; position:absolute;top:120px;  overflow:hidden;
 cursor:pointer; z-index:100;}
 
.people  .prev{ background:url(../images/arrow_left.jpg) no-repeat; left:-55px}
.people  .next{ background:url(../images/arrow_right.jpg) no-repeat; right:-55px}

.people .bd{ padding:0px; overflow:hidden;}
.people .bd ul{ overflow:hidden; zoom:1; }
.people .bd ul li{float:left; _display:inline; overflow:hidden; text-align:center;  }

.people .bd ul li img{ width:155px; height:209px; display:block; }
.people .bd ul li a{ display:block; float:left; width:155px; height:320px; overflow:hidden; margin:0 2px 10px 2px; }
.people .bd ul li a span{ display:block; text-align:left;}
.people .bd ul li  a:hover img{}
.people .tempWrap{ margin:0 auto}
.people h4{ font-size:20px; padding:0px 0px 30px 0px; color:#000}
.people .name{ color:#000; padding:10px 0; font-size:14px;}

.people_list{ width:776px;}
.people_list .bd ul li{ margin-bottom:50px; float:none;}
.people_list .bd ul li a{ display:block; width:120px; float:left; overflow:hidden; margin:0 2px; }
.people_list .bd ul li img{ width:120px; height:160px;display:block; }


/*äºŒçº§*/
.erjibox{ width:1000px; margin:0 auto; padding:40px 0; position:relative;}
.er_left{ width:191px; float:left}

.er_nav { width:136px; margin-top:42px;}
.er_nav li{ height:33px; line-height:33px; margin-bottom:1px}
.er_nav li a{ padding-left:28px; display:block; background-color:#f2f2f2; font-size:14px;}
.er_nav li a:hover{background:#bfbfbf url(../images/leftnavdian.jpg) no-repeat 15px center}
.er_nav li a.active{background:#bfbfbf url(../images/leftnavdian.jpg) no-repeat 15px center}




.er_right{ width:776px; float:left; border-left:1px solid #ccc;padding-left:30px}
.newslist{ margin:30px 0}
.newslist li{ border-bottom:1px dotted #ccc;line-height:35px;}
.newslist li span{ float:right}
.newslist li a{  color:#000;font-size:13px;}
.newslist li a:hover{  color:#6a86be;}

.weizhi{ text-align:right; padding-bottom:20px;font-size:14px; color:#000}
.weizhi span{font-family:"å®‹ä½“"; padding:0 5px}
.weizhi a{ color:#666}
.page{ text-align:right; padding:20px 0;font-size:14px;}
.page span{font-family:"å®‹ä½“"; padding:0 5px}
.page a{ padding:5px 5px; display: inline-block}
.page a:hover{ color:#ff0000}



.news_title{ color:#000; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dotted #ccc; padding:20px 0; margin:30px 25px;}
.news_title span{ display:block; padding:10px; font-weight:normal; font-size:14px;}

.news_content{ line-height:25px; margin:0px 35px}
.news_content p{ margin-bottom:15px; text-indent:2em; font-size:14px;}


.textcenter{text-align:center; padding:20px 0;font-size:14px;}
.textcenter a{ color:#000}

.text_24{ font-size:24px; color:#000; font-weight:bold; position:absolute;bottom:15px; line-height:40px;left:260px;}

.richeng_rightnav{ width:68px; position:fixed; right:0; top:480px}
.richeng_rightnav a{ display:block; background-color:#204a9e; line-height:30px; text-align:center; color:#fff; margin-bottom:1px;}
.top{ cursor:pointer;}

.mark{ background-color:#000; filter:alpha(opacity=50);opacity:0.5; width:100%; height:100%; position:fixed; z-index:199;top:0; display:none}
.ceng_box{ width:600px;  position:fixed; z-index:200;left:50%; margin-left:-310px;top:14%; border:6px solid #ab0504; background-color:#fff; display:none}

.home_ceng{}
.home_ceng div{ font-size:14px;}
.home_ceng .bd{ padding:0px; overflow:hidden; margin-top:30px;}
.home_ceng .bd ul{ overflow:hidden; zoom:1; }
.home_ceng .bd ul li{ margin-bottom:50px;}
.home_ceng .bd ul li a{ display:block; width:120px; float:left; overflow:hidden; margin:0 4px 10px 4px; height:282px;}
.home_ceng .bd ul li img{ width:120px; height:160px;display:block; }
.home_ceng .bd ul li a span{ display:block; font-size:12px;}
.home_ceng .bd ul li a:hover img{}
.home_ceng .tempWrap{ margin:0 auto}
.home_ceng h4{ font-size:20px;color:#000; border-bottom:1px solid #ccc; padding:10px 0px; margin-bottom:25px}
.home_ceng h4 span{ float:right; font-size:12px;}
.home_ceng .name{ color:#000; padding:10px 0; font-size:14px;}

.ceng_box .close{ display:block; width:28px; height:31px;background:url(../images/close.jpg); position:absolute;right:-34px;top:0; cursor:pointer}

.media_center li{background:url(../images/diso.png) no-repeat left center; float:left; width:465px; margin-left:15px;}
.media_center li a{ line-height:25px; padding-left:15px; color:#545454; font-size:14px;}
.media_center li a:hover{ color:#000}


.schedule_content{ line-height:25px; margin:0px 35px}
.schedule_content .title_h1{ font-size:24px; font-weight:bold; color:#000;}
.schedule_content .subtitle{ font-size:14px; color:#000; margin-top:5px;}
.schedule_tab{ margin-top:25px; font-size:14px;}
.schedule_tab li{ float:left; background-color:#ddd; cursor:pointer; padding:2px 8px;}
.schedule_tab li.active{ background-color:#dc2321; color:#fff;}
/*.schedule_tab .content{ margin-top:25px;}*/
.schedule_tab .content p { line-height:2em; clear:both; text-indent:0em;}
.schedule_tab .content p span {
float: left;
color: #666;
}
.schedule_tab .content p .time {
width: 100px;
}
.schedule_tab .content p .agenda_content_n {
text-indent: 7em;
}
.schedule_tab .content p .agenda_content_nn {
text-indent: 10em;
}



<!--æ–°å¢ž-->
.focusBox { position: relative; width:1000px; overflow: hidden;}
.focusBox ul{ margin-top:20px;}
.focusBox .pic{ position:relative; z-index:0; }
.focusBox .pic img { width:960px; height:600px; display: block;margin:0 auto; text-align:center; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;display:inline-block; *display:inline; zoom:1;  _background: url(images/dot8.png) no-repeat 0 -16px;}
.focusBox .hd .on{ background-position:0 0; }
.focusBox .pic .swpt{ width:900px; padding-top:30px; margin-left:80px;}
.focusBox .prev,
.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none; background: url(../images/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=50);opacity:0.5;  }
.focusBox .prev { left:20px; }
.focusBox .next { background-position: 0 -90px; right:20px; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=70) !important;opacity:0.7 !important;  }

.swp-txt{line-height: 24px;padding: 15px 15px 15px 65px;}
.swp-txt{padding:15px 0 15px 25px;position: relative;margin:0 1px;}
.swpt-table{ text-align:left;/**position:relative; *display:block;*/ width:960px; height:auto !important; height:75px; min-height:75px;padding:0 25px 0 0;}
.swpt-table .swpt-cell{ vertical-align: middle;/**display:block; *position:absolute; *top:50%; */}
/*.item-table .item-cont{*display:block; *position:relative; *top:-50%; *left:-50%; }*/
.swpt-cont{line-height: 28px; font-size: 14px; color: #666;text-indent: 2em;}
 /* å›¾ç‰‡æ’­æ”¾å™¨ä¿®æ”¹ 141013 begin */
.swpt-cont{ text-indent: 0em; }
.swpt{ overflow:hidden ; font-size: 14px; }
.pageState{ color: #a1a1a1; font-size: 16px; float: left; margin: 4px 0 0 0;padding-right: 10px; margin-top:-40px;}
.pageState span{color: #ab000e; font-size: 24px; font-style: normal;}

  /* å›¾ç‰‡æ’­æ”¾å™¨ä¿®æ”¹ 141013 end */


.video .history_h{ background:url(../images/history_bg.png) center center no-repeat; width:225px; height:43px; float:left; line-height:40px; text-align:center; font-size:16px; color:#fff;}
#video_content{ width:600px; height:500px;margin:0 auto;}