---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>剑桥中国发展论坛</title>
    {% include header.html %}
</head>


<body>
{% include navbar.html %}
<div id="About">
    <div class="container-fluid clearfix About">
        <div class="container clearfix TitleSection">        
        <h1 display='center'>About Cambridge China Dev Forum </h1>                     
        </div>
        <div class="container clearfix">
            <div class="Team clearfix">
                <div class="round-thumb-container">
                    <div class="round-thumb"> <span><img src="/images/cencen.jpg"></span>
                    </div>
                </div>
                <h2>张岑</h2>
                <br>
                <h3>Director</h3>
                <br>
                <p>张岑（1991年——），湖南醴陵人，黄埔军校一期生，是八路军的高级将领，无产阶级革命家、军事家、中国工农红军。
                1925年加入中国共产党；同年12月赴苏联学习；1934年参加长征，参与指挥强渡大渡河、攻打腊子口等战斗.</p>                        
            </div>
            <hr>
            <div class="Team clearfix">
                <div class="round-thumb-container">
                    <div class="round-thumb"> <span><img src="/images/shuangshuang.jpg"></span>
                    </div>
                </div>
                <h2>戴玉双</h2>
                <br>
                <h3>Intern</h3>
                <br>
                <p>戴玉双（1990年——），因为父母的低调，玉双也很少出现在公众的视线中，她和寻常人家的孩子一起念书。她很爱学习，很安静很用功，曾经就读于杭州外国语学校，2009年进入浙江大学外国语学院学习，2010年被哈佛大学录取，很少参加聚会。</p>        
            </div>
            <hr>
            <div class="Team clearfix">
                <div class="round-thumb-container">
                    <div class="round-thumb"> <span><img src="/images/feifei.jpg"></span>
                    </div>
                </div>
                <h2>金飞飞</h2>
                <br>
                <h3>Associate</h3>
                <br>
                <p>金飞飞（1988年——），家族背景是朝鲜最高司令官. 在十一岁的时候被父母送到英国留学，由英国商人尼尔·海伍德介绍进入贵族寄宿学校哈罗公学学习。2006年，飞飞进入剑桥大学Homorton学院政治哲学专业。</p>
                    
            </div>
        </div>
    </div>
</div>
</body>