<div class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
        <a href="/" class="navbar-brand sitelogo header-button">CSSA</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
        </div>
        <div id='navbar' class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right caps">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/about">THE FORUM</a>
                </li>
                <li>
                    <a href="/events">EVENTS</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/committee">COMMITTEE</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>
