---
layout: default
---
<div class="container fill scroll" style="background-image:url('/images/home-bg.jpg')">
    <div class="row">
        <div class="col-lg-3 event-listing hide-in-mobile">
            <h3 class="upcoming_events">Past Events</h3>
            <hr>
            {% for post in site.categories.past_event limit: 10 %}
            <ul>
                <li>
                    <a href="{{ post.url }}">
                        <h4>{{ post.theme }}</h4>
                    </a>
                </li>
            </ul>
            <br>
            <br>
            {% endfor %}
        </div>
        <div class="col-lg-8 bg-white">
                <header class="intro-header" style="background-image: url('{{page.cover_photo}}')">
                <div class="post-heading">
                </div>
                </header>
                <h3>{{ page.theme }}</h3>
                <p><b>[TIME]</b> {{ page.time }}</p>
                <p><b>[VENUE]</b> {{ page.venue }}</p>
                <p><b>[FEE]</b> {{page.fee}}</p>
                <br>
                {{content}}
        </div>
    </div>
</div>