<!DOCTYPE html>
<html class="full" lang="en">

<head>
    <title>{{ page.title }} &laquo; Cambridge CSSA China Development Forum</title>
    {% include header.html %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
</head>

<body>
    {% include navbar.html %}
    <div class="container" style="margin-top: 200px">
        <div class="row">
            <div class="col-lg-3 event-listing hidden-phone">
                <h3 class="upcoming_events">Upcoming Event</h3>
                <hr>
                {% for post in site.posts limit: 10 %}
                <ul>
                    <li>
                        <a href="{{ post.url }}">
                            <h4>{{ post.theme }}</h4>
                        </a>
                    </li>
                </ul>
                <br>
                <br>
                {% endfor %}
            </div>
            <div class="col-lg-8 col-lg-offset-1 post-content" style="padding-bottom: 20px; margin-bottom: 20px">
                <header class="intro-header" style="background-image: url('{{page.cover_photo}}')">
                    <div class="container">
                        <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                            </div>
                        </div>
                        </div>
                    </div>
                </header>
                <h3>{{ page.theme }}</h3>
                <p><b>[TIME]</b> {{ page.time }}</p>
                <p><b>[VENUE]</b> {{ page.venue }}</p>
                <p><b>[FEE]</b> {{page.fee}}</p>
                <br>
                {{content}}
            </div>
        </div>
    </div>
</body>

</html>
